* {
  margin: 0px; }

header {
  align-items: flex-start;
  justify-content: space-between;
  background-color: #D8D8D8;
  position: fixed;
  width: 100%;
  height: 10%;
  z-index: 9999;
  background-color: #D8D8D8;
  position: fixed;
  display: inline-flex;
  /*    &__nav {
           
            margin-right: 3%;
            margin-top: 1%;
        }*/ }
  header .header__isotipo {
    transform: translate(35px, -14px); }
  header .navbar-collapse {
    transform: translate(-10%, 0%); }
  header__nav__link__a {
    text-decoration: none;
    color: #424241;
    border-radius: 5px;
    background-color: #D8D8D8;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    animation-duration: 500ms; }
  header__nav__link__a:hover {
    background-color: white;
    color: #D8D8D8; }
  header__navbar {
    margin-top: 50%; }
  header .navbar-toggler {
    transform: translate(-30%, 0%); }

main {
  background: #424241; }
  main p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-bottom: 0; }
  main .Titulo {
    color: #D8D8D8;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 50px; }
  main .contenido__portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #424241;
    /*background-size: cover;*/ }
    main .contenido__portada #sloganPrincipal {
      padding-top: 100px;
      text-align: center;
      color: #D8D8D8;
      font-style: italic; }
  main .contenido__servicios {
    padding: 50px;
    background-color: #424241;
    background-size: cover; }
    main .contenido__servicios .contenido__servicios__titulo {
      color: #D8D8D8;
      font-weight: bold;
      font-size: 150%;
      text-align: center;
      text-transform: uppercase;
      text-decoration: underline;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-style: normal;
      padding: 50px; }
    main .contenido__servicios .contenio__servicios__lista {
      color: #D8D8D8;
      text-align: center;
      list-style: none;
      padding: 30px;
      line-height: 2;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-style: normal; }
  main .contenido__proyectos {
    padding: 50px;
    background-color: #424241;
    background-size: cover; }
    main .contenido__proyectos .contenido__proyectos__titulo {
      color: #D8D8D8;
      font-weight: bold;
      font-size: 150%;
      text-align: center;
      text-transform: uppercase;
      text-decoration: underline;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-style: normal;
      padding: 50px; }
    main .contenido__proyectos .contenido__proyectos__sliderFotos {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-around;
      border: solid 30px #D8D8D8;
      background-color: #D8D8D8;
      border-radius: 15px;
      margin: 30px; }
    main .contenido__proyectos .contenido__proyectos__sliderFotos__img {
      transition-duration: 1s;
      border-radius: 10px; }
    main .contenido__proyectos .contenido__proyectos__sliderFotos__img:hover {
      transform: scale(1.5); }
  main .contenido__quienes {
    background: white;
    padding: 50px; }
    main .contenido__quienes .contenido__quienes__titulo {
      color: black;
      font-weight: bold;
      font-size: 150%;
      text-align: center;
      text-transform: uppercase;
      text-decoration: underline;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-style: normal; }
    main .contenido__quienes .contenido__quienes__texto {
      color: grey;
      text-align: center;
      padding: 20px; }
  main .contenido__contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    background: white;
    padding: 30px; }
    main .contenido__contacto .contenido__contacto__titulo {
      font-size: 150%;
      text-align: center;
      text-transform: uppercase;
      text-decoration: underline;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-style: normal;
      padding: 30px; }
    main .contenido__contacto .contenido__contacto__form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      color: black;
      padding: 10px;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 300;
      font-style: normal;
      width: 800px;
      height: 600px;
      border: solid 5px #D8D8D8; }

.page__contacto #gridContacto #formContact {
  height: 520px;
  width: 700px; }

.page__contacto #gridContacto #map {
  height: 520px;
  width: 700px; }

.info, .info__producto, .info__espacio, .info__animacion, .info__personaje, .info__presentacion, .info__modelado {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: black; }

.info__producto {
  transform: translate(0px, -270px); }

.portada {
  transform: translate(0%, -11%); }

.slogan, .slogan__index, .slogan__contacto, .slogan__quienes, .slogan__servicios {
  padding-top: 100px;
  text-align: center;
  font-weight: bolder;
  color: black;
  font-size: 200%;
  font-style: italic;
  z-index: 9999; }

.slogan__index {
  transform: translate(0%, 300%); }

.slogan__contacto {
  transform: translate(0%, 250%);
  font-size: 300%; }

.slogan__quienes {
  transform: translate(0%, 200%);
  color: white; }

.slogan__servicios {
  transform: translate(0%, 250%);
  font-size: 300%; }

.info__espacio {
  transform: translate(-30px, -150px);
  color: white; }

.info__animacion {
  transform: translate(0px, -250px); }

.info__personaje {
  transform: translate(0px, -310px); }

.info__presentacion {
  transform: translate(0px, -170px);
  color: white; }

.mainProyectos .categorias {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* grid-column-gap: 10px;
        grid-row-gap: 10px;*/
  justify-content: space-between;
  align-content: space-between;
  grid-template-areas: "titulo titulo titulo titulo titulo" "producto producto espacio espacio personaje" "producto producto grafica animacion modelado"; }

.mainProyectos .titProyecto {
  grid-area: titulo; }

.mainProyectos .diProducto {
  max-height: 100%;
  max-width: 100%;
  grid-area: producto; }

.mainProyectos .diEspacio {
  max-height: 100%;
  max-width: 100%;
  grid-area: espacio; }

.mainProyectos .modelados {
  max-height: 100%;
  max-width: 100%;
  grid-area: modelado; }

.mainProyectos .graficas {
  max-height: 100%;
  max-width: 100%;
  grid-area: grafica; }

.mainProyectos .personajes {
  max-height: 100%;
  max-width: 100%;
  grid-area: personaje; }

.mainProyectos .animaciones {
  grid-area: animacion;
  max-height: 100%;
  max-width: 100%; }

.mainProyectos .imgGrilla {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover; }

.mainProyectos .diProducto {
  position: relative;
  text-align: center;
  color: grey; }

.mainProyectos .diProducto p {
  position: absolute;
  bottom: 8px;
  left: 16px; }

.mainProyectos .diEspacio {
  position: relative;
  text-align: center;
  color: grey; }

.mainProyectos .diEspacio p {
  position: absolute;
  bottom: 8px;
  left: 16px; }

.mainProyectos .modelados {
  position: relative;
  text-align: center;
  color: grey; }

.mainProyectos .modelados p {
  position: absolute;
  bottom: 8px;
  left: 16px; }

.mainProyectos .graficas {
  position: relative;
  text-align: center;
  color: grey; }

.mainProyectos .graficas p {
  position: absolute;
  bottom: 8px;
  left: 16px; }

.mainProyectos .personajes {
  position: relative;
  text-align: center;
  color: grey; }

.mainProyectos .personajes p {
  position: absolute;
  bottom: 8px;
  left: 16px; }

.mainProyectos .animaciones {
  position: relative;
  text-align: center;
  color: grey; }

.mainProyectos .animaciones p {
  position: absolute;
  bottom: 8px;
  left: 16px; }

footer {
  display: flex;
  flex-direction: column;
  color: black;
  background: #D8D8D8;
  background-size: cover;
  padding: 10px;
  z-index: 9999; }
  footer .derechosAutor {
    text-align: center; }
  footer p {
    font-size: 15px; }
